body {
	text-align: center;
	font-family: 'Libre Franklin', sans-serif;
	font-size: 20px;
	font-weight: 300;
}

#launch {
	color: hsl(0, 0%, 59%);
	font-size: 25px;
}

#copyright {
	color: hsl(0, 0%, 59%);
	font-size: 11px;
}

#subscribe {
	color: hsl(209, 33%, 12%);
	font-size: 13px;
}

#email {
	border: solid 1px hsl(223, 100%, 88%);
	border-radius: 30px;
	width: 85%;
	padding: 10px;
	margin: 5px;
}

button {
	background-color: hsl(223, 87%, 63%);
	border: none;
	border-radius: 30px;
	box-shadow: 0 1px 4px hsl(223, 87%, 63%);
	width: 90%;
	padding: 10px;
	margin: 5px;
	color: white;
}

span {
	color: black;
}

.attribution {
	font-size: 11px; text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}

#illustration {
	width: 90%;
}
